__pycache__/
*.pyd
*.py[cod]
*.so
*.pyo
.venv/
venv/
env/
.conda/
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
.cache/
.vscode/
.idea/
*.log
.DS_Store
.env
.env.*
.dockerignore
Dockerfile
docker-compose.yml
.git
.gitignore
tests/
